accelerate>=0.22.0
fire
flaky
future>=0.17.1
gpytorch>=1.5
jupyter
matplotlib>=2.0.2
neptune
numpydoc
openpyxl
pandas
pillow
protobuf
pylint
pytest>=3.4
pytest-cov
sacred
safetensors>=0.3.1
sphinx
sphinx_rtd_theme
tensorboard>=1.14.0
tokenizers
transformers
wandb>=0.12.17
