fire
flaky
future>=0.17.1
gpytorch>=1.5
jupyter
matplotlib>=2.0.2
neptune-client>=0.4.103
numpydoc
openpyxl
pandas
pillow
pylint
pytest>=3.4
pytest-cov
sacred
sphinx
sphinx_rtd_theme
tensorboard>=1.14.0
wandb<0.10.29
