accelerate>=0.11.0
fire
flaky
future>=0.17.1
gpytorch>=1.5
jupyter
matplotlib>=2.0.2
neptune-client>=0.14.3
numpydoc
openpyxl
pandas
pillow
protobuf>=3.12.0,<4.0dev
pylint
pytest>=3.4
pytest-cov
sacred
sphinx
sphinx_rtd_theme
tensorboard>=1.14.0
tokenizers
transformers
wandb>=0.12.17
